.login {
    margin: auto;
    margin-top: 200px;
    max-width: 400px;
    width: 80%;

    .brand {
        background: url(../../assets/brand.png) center center no-repeat;
        background-size: 103px auto;
        height: 40px;
        margin: 20px auto 0;
        width: 103px;
    }

    h2 {
        line-height: 20px;
        font-size: 1.6rem;
        font-weight: 600;
        margin: 10px 5%;
        color: #999;
        text-align: center;
    }

    .login-form {
        margin: 0 auto 30px;
        padding: 0 5%;

        .login-input {
            border: solid 1px #dbdbdb;
            display: block;
            height: 28px;
            margin-bottom: 5px;
            padding: 7px;
            width: 100%;
        }

        .login-button {
            background-color: #3897f0;
            border: 1px solid #3897f0;
            border-radius: 4px;
            color: #fff;
            display: block;
            font-weight: 600;
            margin: auto;
            padding: 5px 9px;
        }
    }
}