section {
    ul {
        list-style: none outside none;
        padding-left: 10px;

        li {
            font-size: 1.2rem;
            color: #262626;
            padding-top: 5px;

            h6 {
                display: inline;
                font-size: 1.4rem;
                font-weight: 600;
                color: #262626;
            }
        }
    }

    .time {
        display: block;
        margin: 8px 0 8px 10px;
    }

    .comments-input {
        border: none;
        border-top: solid 1px #dbdbdb;
        height: 28px;
        margin: 0 5px;
        padding: 22px 7px;
        width: 98%;
    }
}