article {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;

    header {
        display: flex;
        height: 60px;
        padding: 10px;

        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }

        h1 {
            color: #262626;
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 40px;
            margin-left: 12px;
            vertical-align: center;
        }
    }

    img {
        display: block;
        width: 100%;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 600;
        color: #262626;
    }
}